.lstbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
} 
#lst {
  text-align: center;
  text-align-last: center;
  border-radius: 25px;
  height: 60px;
  width: 200px;
  font-size: 16px;
  background-color: #d9d9d9;
  font-family: 'Marko One', serif;
  color: #6b6b6b;
  
}

#lst:focus {
  box-shadow: 0 0 10px #fd60c8;
  transform: scale(1.05); 
  border-color: #fd60c8;
  transition: all 0.4s ease;
}