.Popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  min-height: 100px;
  background-color: rgb(255, 101, 101);
  border: 3px solid rgb(255, 0, 0);
  font-family: 'Marko One', serif;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

#btnspopup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}

#excluir, #cancelar {
  width: 90px;
  height: 35px;
  border-radius: 7px;
  font-family: 'Marko One', serif;
  font-size: 14px;
  border: none;
  color: white;
}

#excluir {
  background-color: red;
}

#cancelar {
  background-color: blueviolet;
}

#cancelar:hover {
  background-color: rgb(162, 102, 218);
  transition: all 0.3s ease;
}

#excluir:hover {
  background-color: rgb(253, 56, 56);
  transition: all 0.3s ease;
}
