.txtbox{
    padding-top: 20px;

}

#mensagem{
    font-family: 'Marko One', serif;
    border-radius: 10px;
    background-color: #d9d9d9;
}

#mensagem:focus {
  box-shadow: 0 0 10px #fd60c8;
  transform: scale(1.05); 
  border-color: #fd60c8;
  transition: all 0.4s ease;
}

#mensagem:hover {
  box-shadow: 0 0 10px #fd60c8;
  transform: scale(1.05); 
  border-color: #fd60c8;
  transition: all 0.4s ease;
}

@media (max-width: 480px) {
  .txtbox {
    width: 95%;
    padding-top: 15px;
  }

  #mensagem {
    font-size: 14px;
  }
}