* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 1rem;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}


.header button {
  width: 90%;
  max-width: 300px;
  padding: 12px 20px;
  background-color: hotpink;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}


.Logo img {
  max-width: 90%;
  height: auto;
  margin: 20px 0;
}


h2 {
  font-family: 'Marko One', serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}


select {
  width: 90%;
  max-width: 300px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid gray;
}


textarea {
  width: 90%;
  max-width: 500px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid black;
  resize: none;
  margin-bottom: 20px;
}


.enviar button {
  width: 90%;
  max-width: 300px;
  padding: 12px;
  background-color: purple;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
